<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Create</title>
        <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">

        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&&family=Noto+Sans&display=swap" rel="stylesheet">

    </head>
    <body>


        <main class="page-container">

            <%- include ('./partials/messages') %>


            <div class="top-nav">
                <div class="left">
                    <form action="find">
                        <button class="button" type="submit" >Back</button>
                    </form>
                </div>
                <div class="center"><h3>Product Name</h3></div>
                <div class="right"></div>


            </div>




            <div class="page-container__create-entry">

                <form class="form" action="/entry/create" method="POST" id="entrycreateform">

                    <div class="create-entry__log-selection">

                        <% logs.forEach((log) => { %>
                        <div id="partContainer" class="log-selection__log-container">
                            <div class="log-container__icon"></div>
                            <div id="log1" class="log-container__log-text"><%= log.name %></div>
                        </div>
                        <% }) %>


                    </div>

                    <a href="../log/create" class="log-create-link">Create New Log</a>


                    <input name="logname" id="log" type="hidden" value="<%= typeof logname != 'undefined' ? logname : '' %>">



                    <div class="flex-column-center">

                        <div class="create-entry__time-selection">

                            <div class="timepicker-container">


                                <div class="timepicker-container__title">Hours</div>
                                <div class="timepicker-container__container">
                                    <div id="hour0" class="container__item">0</div>
                                    <div id="hour1" class="container__item">1</div>
                                    <div id="hour2" class="container__item">2</div>
                                    <div id="hour3" class="container__item">3</div>
                                    <div id="hour4" class="container__item">4</div>
                                    <div id="hour5" class="container__item">5</div>
                                </div>

                                <div class="timepicker-container__title">Minutes</div>
                                <div class="timepicker-container__container">
                                    <div id="min0" class="container__item">0</div>
                                    <div id="min15" class="container__item">15</div>
                                    <div id="min30" class="container__item">30</div>
                                    <div id="min45" class="container__item">45</div>
                                </div>


                                <div class="timepicker-container__finalTimes">
                                    <div class="finalTimes__input-container">
                                        <div class="input-title">Hours</div>
                                        <input class="input input-small" id="timeHour" name="timeHour" type="text" value="<%= typeof timeHour != 'undefined' ? timeHour : '' %>">                     
                                    </div>

                                    <div class="finalTimes__input-container">
                                        <div class="input-title">Minutes</div>
                                        <input class="input input-small" id="timeMinute" name="timeMinute" type="text" value="<%= typeof timeMinute != 'undefined' ? timeMinute : '' %>">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <textarea placeholder="Enter note..."
                                  type="text"
                                  name="body" 
                                  id="body" 
                                  rows="6" 
                                  cols="50" 
                                  class="create-entry__add-note__textarea"

                                  ><%= typeof body != 'undefined' ? body : '' %></textarea>                            


                        <div class="create-entry__submit">                        
                            <button class="button-primary" type="submit" form="entrycreateform">Save</button>
                        </div>                        
                    </div>


                </form> 

            </div>
        </main>

        <script>
            // New script for new style logs
            var textentry = document.getElementById('log');

            var boxs = document.querySelectorAll('[id^=partContainer]');
            for(var i in boxs){
                boxs.item(i).addEventListener("click", addText);
            }

            // highlight the pre selected times
            function addClassToLogElements() {

                for(var i in boxs){
                    if (textentry.value == boxs.item(i).querySelector('.log-container__log-text').innerHTML) {
                        console.log("IN IN IN")

                        boxs.item(i).classList.add("container__item-selected"); 
                    }
                }
            }
            addClassToLogElements();


            function addText(event) {
                // removed highlight from all logs
                for(var i in boxs){
                    //                    boxs.item(i).querySelector('.log-container__icon').classList.remove("container__item-selected");
                    boxs.item(i).classList.remove("container__item-selected");
                }

                // adds highlight and gets log name clicked on log
                if (event.target.classList[0] == "log-selection__log-container") {
                    //                    event.target.querySelector('.log-container__icon').classList.add("container__item-selected"); 
                    event.target.classList.add("container__item-selected"); 
                    textentry.value = event.target.querySelector('.log-container__log-text').innerHTML;
                } else {
                    event.target.parentNode.classList.add("container__item-selected");
                    textentry.value = event.target.parentNode.querySelector('.log-container__log-text').innerHTML;
                }

            }
        </script>

        <script>

            // Script for time picker

            var timeHour = document.getElementById('timeHour');
            var timeMinute = document.getElementById('timeMinute');


            // add click events
            var hoursBox = document.querySelectorAll('[id^=hour]');
            for(var i in hoursBox){
                hoursBox.item(i).addEventListener("click", addSelectedHour);
            }

            var minutesBox = document.querySelectorAll('[id^=min]');
            for(var i in minutesBox){
                minutesBox.item(i).addEventListener("click", addSelectedMinute);
            }


            function addSelectedHour(event) {
                //remove class from all elements
                for(var i in hoursBox){
                    hoursBox.item(i).classList.remove("container__item-selected");
                }

                // add class to clicked element
                event.target.classList.add("container__item-selected");

                // add time selected to input box
                timeHour.value = event.target.innerHTML;
            }

            function addSelectedMinute(event) {
                //remove class from all elements
                for(var i in minutesBox){
                    minutesBox.item(i).classList.remove("container__item-selected");
                }

                // add class to clicked element
                event.target.classList.add("container__item-selected");
                // add time selected to input box
                timeMinute.value = event.target.innerHTML;
            }

            // highlight the pre selected times
            function addClassToTimeElements() {
                //remove class from all elements
                for(var i in minutesBox){
                    if (timeMinute.value == minutesBox.item(i).innerHTML) {
                        minutesBox.item(i).classList.add("container__item-selected"); 
                    }
                }

                for(var i in hoursBox){
                    if (timeHour.value == hoursBox.item(i).innerHTML) {
                        hoursBox.item(i).classList.add("container__item-selected"); 
                    }
                }
            }
            addClassToTimeElements();

        </script>    

    </body>
</html>